html {
  overflow-y: scroll;
}

body {
    background-color: rgb(32, 32, 32);
}

h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
}


label {
  color: white;
}

.form-row {
  margin-left: 100px;
  margin-right: 100px;
}

button {
  width: 100%;
}

.form-row>.col, .form-row>[class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}

.results-table {
  background-color: white;
}

.table-bordered {
  margin-top: 50px;
  background-color: white;
  margin-bottom: 50px;
}
thead {
  background-color: #ffc107;
}

.card-title {
   margin: 3px 1px;
}

.card {
  width: 16rem;
  margin: 5px auto;
  max-height: 22rem;
}

li {
  list-style-type: none;
}

.cert-card {
  width: 100%;
}

td {
  white-space: pre-wrap;
  word-break: break-word;
  vertical-align: top;
  line-height: 1.2;
  padding: 5px 3px 5px 10px;
}

.attribute-header {
  width: 20%;
}

.description-header {
    width: 25%
}
.value-header {
  width: 30%;
}

.error-header {
  width: 25%;
}

.error {
  color: #ff4617;
  background-color: rgba(255, 230, 232, 0.8);
}

th {
  padding: 3px 1px 5px 10px;
}

.modal-body {
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.2;
}

.modal-header .close {
  text-align: right;
}

.full-value-link {
  color:#007bff;
  cursor: pointer;
}

.full-value-link:hover {
  color:#004c9e;
  text-decoration: underline;
}

.title-symbols {
  color: #ffc107;
}